configuration {
  display-window: "Select Window";
  display-run: "";
  display-drun: "";
  display-combi: "Combi:";
  font: "FontAwesome 12";
  modi: "window,drun";
  drun-display-format: "{name}";
  window-format: "{t}";
  show-icons: true; 
  icon-theme: "FontAwesome";
}

@theme "doki-gray2"
